.attachment-fields button {
	min-height: auto;
	padding: 3px;

	font-weight: normal;
}

.attachment-fields button:hover {
	text-decoration: none;
}

.attachment-fields button.no-replies {
	opacity: 0.4;
}

.threads-list .empty {
	margin-top: 60px;

	text-align: center;

	color: #7f7f7f;
}

.threads-list .load-more {
	text-align: center;
	text-transform: lowercase;

	font-style: italic;
	line-height: 40px;
}

.threads-list .load-more .load-more-loading {
	color: #aaaaaa;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

.rc-input-radios__title {
	padding: 10px 0 5px;
}

.rc-input-radios__container {
	display: flex;

	flex-direction: column;

	padding: 10px 0 35px;

	flex-wrap: wrap;
}

.rc-input-radio__container {
	margin-right: 10px;
	padding: 12px 0;
}

.rc-input__radio {
	position: absolute;

	width: 0;
	height: 0;

	opacity: 0;
}

.rc-input-radio__label {
	padding: 5px 10px;

	cursor: pointer;

	color: var(--color-gray);

	border-width: 2px;

	border-color: var(--color-gray);
	border-radius: 5px;
}

.rc-input__radio:checked ~ label {
	color: white;

	border-color: var(--rc-color-button-primary-light);
	background-color: var(--rc-color-button-primary-light);

	font-weight: bold;
}
